<launch>
    <node name="rplidarNode"          pkg="delta_lidar"  type="delta_lidar_node" output="screen">
        <param name="serial_port" value="/dev/ttyUSB1"/>
        
        

	<param name="frame_id"            type="string" value="laser_link"/>
	<param name="inverted"            type="bool"   value="false"/>
	<param name="angle_compensate"    type="bool"   value="true"/>
	<remap from="/scan" to="/rplidar_scan" />
    </node>
</launch>
